
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1501635954396'); /* IE9*/
  src: url('iconfont.eot?t=1501635954396#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1501635954396') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1501635954396') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1501635954396#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-female:before { content: "\e615"; }

.icon-male:before { content: "\e616"; }

.icon-import:before { content: "\e617"; }

.icon-remove:before { content: "\e618"; }

.icon-bind:before { content: "\e619"; }

.icon-delete:before { content: "\e61a"; }

.icon-calendar:before { content: "\e61b"; }

.icon-arrow-right:before { content: "\e61c"; }

.icon-search:before { content: "\e61d"; }

.icon-task:before { content: "\e61e"; }

.icon-notice:before { content: "\e61f"; }

.icon-unchecked:before { content: "\e620"; }

.icon-up:before { content: "\e621"; }

.icon-down:before { content: "\e622"; }

.icon-new-group:before { content: "\e623"; }

.icon-arrow-left:before { content: "\e624"; }

.icon-new-patient:before { content: "\e625"; }

.icon-checked:before { content: "\e626"; }

.icon-patients-management:before { content: "\e627"; }

.icon-home-page:before { content: "\e628"; }

.icon-configuration:before { content: "\e629"; }

.icon-analytics:before { content: "\e62a"; }
