@theme-color: #4f5b6a;
@button-color: #ff9c2d;
@secondary-button-color: #6e849f;

@font-color: #3b4859;
@light-font-color: #6e849f;
@inverse-font-color: #a6b3c4;
@button-font-color: #fff;

@screen-color: #f6f7fb;
@background-color: #fff;
@light-gray-color: #e4e4e8;

@normal-font-size: 14px;
@large-font-size: 16px;
@small-font-size: 12px;

@header-height: 50px;
@header-margin-bottom: 8px;

@min-screen-width: 768px;
@sidebar-width: 100px;
@list-width: 260px;
@bar-width: 15px;
