@theme-color: #505b6b;
@button-color: #ff9c00;
@secondary-button-color: #6e849f;

@font-color: #3c485a;
@light-font-color: #6e849f;
@inverse-font-color: #a6b3c4;
@button-font-color: #fff;

@male-color: #609eff;
@female-color: #f59dfc;

@screen-color: #f6f7fb;
@background-color: #fff;
@light-gray-color: #e4e4e8;

@normal-font-size: 14px;
@large-font-size: 16px;
@small-font-size: 12px;

@header-height: 50px;
@header-margin-bottom: 8px;

@min-screen-width: 768px;
@sidebar-width: 100px;
@list-width: 260px;
@bar-width: 15px;
